header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-size: 4em;
    font-family: 'Amatic SC', cursive; 
    font-weight: 700;  
}

.child-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
    border-radius: 10px;
    width: 25vw;
    margin: 20px;
    padding: 20px;
    box-shadow: 3px 3px 10px;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}

.name-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    
}

.child-name{
    font-size: 5em;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

#childDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
    
}
#charity{
    height: 50px;
    background-color: #5cb85c;
}

.input-container{
    display: flex;
}

.input-box{
    height: 50px;
    width: 50%;
    margin: 3px;
    text-align: center;
    border-radius: 8px;
    border: black;
}


#total{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.update-text{
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding-bottom: 15px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 4em;
    
}

.btn-container{
    display: flex;
    justify-content: space-evenly;

}

.update-button{
    background-color: #325134;
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 33px;
    width: 33%;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: large;
    color: white;
    border-radius: 8px;
}

.update-button:hover{
    background-color: white;
    color: #5cb85c;
}

.delete-button{
    background-color: #B83A2A;
    border: 1px;
    border-color: black;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: large;
    border-style: solid;
    height: 33px;
    width: 33%;
    color: white;
    border-radius: 8px;
}

.delete-button:hover{
    background-color: white;
    color: rgb(251, 74, 74);
}


.total-bubble{
    display: flex;
    justify-content: center;
    background-color: #7f897f;
    width: 75%;
    height: 75%;
    border-radius: 10px;
    align-items: center;

}

.budget-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#budget-bubbles{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

.total{
    font-size: xx-large;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: white;
    font-size: 1.7em;
    
}

.sub-total{
font-size: x-large;
font-family: 'Amatic SC', cursive;
font-weight: 700;
font-size: 3.5em;
color: white;
}

.budget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: #325134;
    border-radius: 50%;
}

.budget-name{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 2.5em;
    color: white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* top: -50%; */
    /* bottom: -25%; */
    /* padding-bottom: 25%; */
    transform: (-50%, -50%);
    align-items: center;

  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    margin: 50% auto; /* 15% from the top and centered */
    /* top: 30%; */
    transform: (-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    
  }

  #add-child-modal-header{
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: white;

  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #nameInput, #totalInput, #charityInput, #savingsInput, #spendingInput{
    height: 30%;
    width: 40%;
    margin: 5px;
    

  }
  
  /* Modal Body */
  .modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 1.4s;
    border-radius: 10px;
    width: 30vw;
    /* height: 25vh; */
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
  }

  body {
  align-items: center;
  background-image: linear-gradient(120deg, #7AADA5 0%, #a6d6cf);
  /* display: flex; */
  font-family: "Roboto";
  font-size: 10px;
  height: 100%;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
}

#gooey-container{
    display: flex;
    justify-content: center;
}

#gooey-button {
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  border: none;
  color: white;
  filter: url("#gooey");
  position: relative;
  background-color: #2e3d36;
  width: 15vw;
}
#gooey-button:hover {
    background-color: white;
    border: #2e3d36;
    color: #2e3d36;
}
#gooey-button:focus {
    outline: none;
}
#gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#gooey-button .bubbles .bubble {
    background-color: #2e3d36;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
}
.bubbles .bubble:hover{
    background-color: white;
}
#gooey-button .bubbles .bubble:nth-child(1) {
  left: 55px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-1 3.02s infinite;
          animation: move-1 3.02s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#gooey-button .bubbles .bubble:nth-child(2) {
  left: 34px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-2 3.04s infinite;
          animation: move-2 3.04s infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#gooey-button .bubbles .bubble:nth-child(3) {
  left: 76px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-3 3.06s infinite;
          animation: move-3 3.06s infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#gooey-button .bubbles .bubble:nth-child(4) {
  left: 77px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-4 3.08s infinite;
          animation: move-4 3.08s infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#gooey-button .bubbles .bubble:nth-child(5) {
  left: 60px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-5 3.1s infinite;
          animation: move-5 3.1s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#gooey-button .bubbles .bubble:nth-child(6) {
  left: 88px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-6 3.12s infinite;
          animation: move-6 3.12s infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
#gooey-button .bubbles .bubble:nth-child(7) {
  left: 70px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-7 3.14s infinite;
          animation: move-7 3.14s infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
#gooey-button .bubbles .bubble:nth-child(8) {
  left: 11px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-8 3.16s infinite;
          animation: move-8 3.16s infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
#gooey-button .bubbles .bubble:nth-child(9) {
  left: 70px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-9 3.18s infinite;
          animation: move-9 3.18s infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
#gooey-button .bubbles .bubble:nth-child(10) {
  left: 41px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-10 3.2s infinite;
          animation: move-10 3.2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes move-1 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -60px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-1 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -60px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-2 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -55px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-2 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -55px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-3 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -115px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-3 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -115px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-4 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -107px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-4 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -107px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-5 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -123px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-5 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -123px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-6 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -63px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-6 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -63px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-7 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -91px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-7 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -91px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-8 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -110px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-8 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -110px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-9 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -120px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-9 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -120px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-10 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -88px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-10 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -88px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
  